
.roundcounter-container{
    display: flex;
    justify-content: center;
    font-size: large;
}
.gameboard{
    display:grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    justify-content: center;
    grid-auto-flow: row; 
}



.gameboard>div:nth-child(-n+3){
    border-top:2px solid black;
    
    
}

.gameboard>div:nth-child(3n+1){
    border-left: 2px solid black;
}
.gameboard>div:nth-child(3n){
    border-right: 2px solid black;
}
.gameboard>div:nth-child(n+7){
    border-bottom: 2px solid black;
}

.gameboard>div{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display:flex;
    justify-content:center;
    align-items: center;
}

.gameboard>div:hover{
    background-color:grey;
    cursor:pointer;
}

.reset-container{
    margin-top:15px;
    display: flex;
    justify-content: center;
    gap:10px;
}
.reset-btn,.start-btn{
    height:5vh;
    width: 10vw;
    font-size: 15px;
}

.reset-btn:hover,.start-btn:hover{
    cursor: pointer;
    
}


